{#
/**
 * @file
 * Template for recurring donation confirmations.
 * @ingroup themeable
 */
#}
<table width="100%" style="margin: 15px auto 0 auto; font-family: arial,sans-serif">
    <tbody>
    <tr>
        <td>
            <table width="100%" style="text-align: center; margin: 5px auto 0 auto;">
                <tbody>
                <tr>
                    <td style="font-size: 30px; padding-bottom: 30px;text-align: left; line-height: 1.2">{{ 'Thank you'|t }}</td>
                </tr>
                <tr>
                    <td style="padding-top:0; padding-bottom: 15px; text-align: left;">
                        <p>{{ 'Lorem ipsum dolor sit amet.'|t }}</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
